<% if resource.errors.any? %>
  <div class="m-3 mb-4 alert alert-danger">
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
