<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
        <div class="post-meta"><%= post.user.username %></div>

        <%= image_tag post.image.url, class: "img img-fluid" %>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="user-summary">
        <p><strong><%= current_user.username %></strong><br />
        <%= current_user.full_name %></p>
      </div>
      <div class="follower-suggestions">

      </div>
    </div>
  </div>
</div>
