.insta-post {
  margin-bottom: 25px;
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin-right: 10px;
  }
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.post-actions {
  margin-bottom: 10px;
  i {
    margin-right: 10px;
    cursor: pointer;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #222;
  }

  i:hover {
    color: #eee;
    -webkit-text-fill-color: #eee;
  }

  i.active {
    color: #ED4956;
    -webkit-text-fill-color: #ED4956;
    -webkit-text-stroke-color: #ED4956;
  }
}

.action-icon {
  font-size: 1.7em !important;
}

.post-index {
  border: none !important;
  padding-top: unset !important;
  margin-top: unset !important;
}

.comment-box {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}

.post-comment {
  box-shadow: none !important;
}

.comments-feed {
  height: 300px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.post-details .post-actions {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.message {
  word-wrap: break-word;
}
