.navbar {
  margin-bottom: 30px !important;
  border-bottom: 1px solid #ddd !important;
}

.logo {
  font-family: 'Billabong';
  font-size: 32px !important;
}

.logo-icon {
   font-size: 23px !important;
}
