body {
  background: #fafafa !important;
}

.user-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-stats {
  width: 120px;
  float: left;

}