<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="display-2">
        This is just another clone of Instagram
      </div>
      <div class="h4 p-5">
        To learn more, ask in the <a href="https://github.com/maxbarsukov/ingramstan">repository</a> on Github
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
