<h1 class="mp-5">Welcome to Ingramstan</h1>

<p class="lead">Please register or sign in to continue</p>

<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
