<div class="footer-color ml-3 pt-5 small">
  <div class="pb-2">
    <%= link_to 'About', about_path, class: "footer-color" %> • <%= link_to 'Help', help_path, class: "footer-color" %>
  </div>
  © <%= Time.current.year %> INGRAMSTAN FROM MAXBARSUKOV
</div>
