<!-- Navigation-->
<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Ingramstan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <%= render "layouts/user_nav" %>
        <% else %>
          <%= render "layouts/public_nav" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
