<li class="nav-item">
  <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "New Post", new_post_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Profile", profile_path(current_user.username), class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
</li>
